@page
@using Aangeleverd.Models
@model Aangeleverd.Pages.InsertModel
@{
}
<div class="flex w-full mt-24 px-12 justify-center">
    <div class="container mx-auto">
<h3 class="text-xl font-bold">Nieuw product toevoegen:</h3>

<form method="post" enctype="multipart/form-data">

    <p class="mt-4">
        <label asp-for="@Model.Product.artikelNaam"></label>
        <input class="p-2 border-black border-2 rounded" asp-for="@Model.Product.artikelNaam" type="text" />
        <span asp-validation-for="@Model.Product.artikelNaam" class="text-red-500 font-medium"></span>
    </p>
    <p class="mt-4">
        <label asp-for="@Model.Product.artikelPrijs"></label>
                <input class="p-2 border-black border-2 rounded" asp-for="@Model.Product.artikelPrijs" type="number" />
                <span asp-validation-for="@Model.Product.artikelPrijs" class="text-red-500 font-medium"></span>
    </p>
    <p class="mt-4">
        <label asp-for="@Model.Product.ImageFile"></label>
                <input asp-for="@Model.Product.ImageFile" type="file" />
                <span asp-validation-for="@Model.Product.ImageFile" class="text-red-500 font-medium"></span>
       
    </p>
    <p class="">
        <button type="submit" class="mt-4 inline-flex items-center justify-center px-5 py-2 text-base font-medium text-center bg-gray-950 text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100  dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">Verzenden</button>
    </p>
</form>
</div>
</div>